<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css" />
        <title>QT-Commerce</title>
    </head>


    '

    <body>
        <div class="grid-container">

            <header class ="row">
                <div>
                    <a class="brand" href = "index.html"> QT-commerce</a>
                </div>
                <div>
                    <a href = "cart.html"> MyCart</a>
                    <a href = "Login.html"> Login </a>
                </div>
            </header>

            <main>
                <ul>
                    <li> Product 1</li>
                    <li> Product 2</li>
                    <li> Product 3</li>
                    <li> Product 4</li>
                    <li> Product 5</li>
                </ul>
            </main>
            
            <footer class="row center">
                All right reversed
            </footer>
            
        </div>
    </body>

</html>